#single-box
  margin-left: 10px
  position: fixed
  top: 50px
  bottom: 0
  right: 0
  left: 25%
  overflow: auto
  section.post
    border-bottom: 1px solid black
    border-top: 1px solid black
    padding: 2%
    h4
      display: inline