#compose
  margin-left: 10px
  position: fixed
  top: 50px
  bottom: 0
  right: 0
  left: 25%
  overflow: auto
  #recipient
    display: inline
    margin-left: 2px
  textarea
    width: 70%
    height: 30%
  #sendemail
    display: inline