#compose
  padding-left: 10px
  position: fixed
  top: 50px
  bottom: 0
  right: 0
  left: 25%
  overflow: auto
  background-color: white
  h2
    font-weight: bold
  #recipient
    display: inline
    margin-left: 2px
  input
    margin-bottom: 5px
  #subject-field
    display: block
  textarea
    width: 70%
    height: 30%
  #sendemail
    display: inline
  #compose-send
    font-size: 1.5em
    margin: 20px
    float: right