#inbox
  display: flex
  flex-flow: column
  overflow: auto
  section
    min-height: auto
    border-bottom: 2px solid black
    border-right: 2px solid black
    padding: 3%
    h3
      margin: 0
    p
      display: inline