#inbox
  display: flex
  flex-flow: column
  overflow: auto
  position: fixed
  top: 50px
  bottom: 0
  left: 0
  right: 75%
  section
    flex: 1 0 auto
    min-height: auto
    border-bottom: 2px solid black
    border-right: 2px solid black
    padding: 3%
    h3
      margin: 0
    p
      display: inline