#inbox
  display: flex
  flex-flow: column
  overflow: auto
  position: fixed
  top: 50px
  bottom: 0
  left: 0
  right: 75%
  background-color: gray
  color: white
  padding: 0
  section
    flex: 1 0 auto
    min-height: auto
    border-bottom: 2px solid #CCCCFF
    border-right: 1px solid #CCCCFF
    border-radius: 5px;
    padding: 3%
    opacity: 0.5
    cursor: pointer
    &:hover
      opacity: 1
    h3
      margin: 0
      padding-bottom: 2px
      white-space: nowrap
      text-overflow: ellipsis
    p
      display: inline
      color: white