article
  height: 100vh
  main
    height: 100%
    display: flex
    flex-flow: row no-wrap
    justify-content: center
    align-content: center
    align-items: center
    #title
      margin-right: 5%
      text-align: center
      h1
        font-size: 4em
    #buttons
      text-align: center
    #signUpForm
    #signInForm
