header
  height: 48px
  top: 0
  left: 0
  right: 0
  z-index: 1
  display: flex
  flex-flow: row no-wrap
  justify-content: space-around
  align-content: center
  align-items: center
  position: fixed
  margin: 0
  border-bottom: 2px solid black
  background-color: white
article
  position: relative
  margin: 0
  width: 100%
  top: 50px
  bottom: 0
  left: 0
  right: 0
  display: inline-block
  #inbox-comp
    width: 25%
    left: 0
    float: left
  #box-comp
    width: 75%
    float: right