header
  height: 49px
  top: 0
  left: 0
  right: 0
  z-index: 1
  display: flex
  flex-flow: row no-wrap
  justify-content: space-around
  align-content: center
  align-items: center
  position: fixed
  margin: 0
  border-bottom: 1px solid black
  background-color: #404040
  h1
    font-size: 28px
    font-weight: bold
    margin-top: auto
    margin-bottom: auto
    color: white
  #greeting
    margin-top: auto
    margin-bottom: auto
    color: white
    font-size: 28px
  button
    border-radius: 2px
    border: 0
    background-color: white
    color: #404040
    font-size: 15px
    &:hover
      background-color: #CCCCFF

article
  position: relative
  box-sizing: border-box
  margin: 0
  width: 100%
  top: 50px
  bottom: 0
  left: 0
  right: 0
  display: inline-block
  #inbox-comp
    width: 25%
    left: 0
    float: left
  #box-comp
    width: 75%
    float: right
