<link rel="stylesheet" type="text/css" href="CSS/account.css">

<main id='account-page' data-ng-cloak data-ng-init='indexUser()'>
  <div data-ng-model='info'>
    <div id='flybox-account'>
      <h2>Flybox Account</h2>
      <h3>Login</h3>
      <p>Username: {{info.email}}</p>
      <p>Password: ********</p>

      <h3>Display Name</h3>
      <p data-ng-show='!editname'>{{info.displayName}}</p>
      <input data-ng-show='editname' data-ng-model='info.newName'>
      <button data-ng-show='editname' data-ng-click='setName(); editname=false'>Save</button>
      <button data-ng-click='editname=!editname; info.newName=info.displayName'>{{editname ? 'Cancel':'Change'}}</button>
    </div>

    <h3>Email Accounts</h3>
    <div data-ng-repeat='account in info.accounts'>
      <h4>{{account.email}}</h4><h3 data-ng-show='(info.accounts.indexOf(account) === info.current)'>CURRENT</h3>
      <button data-ng-click='import(account)'>Sync</button>
      <h6>Username:</h6>
      <p data-ng-show='!account.editing'>{{account.email}}</p>
      <input data-ng-show='account.editing' data-ng-model='new.account.email'>
      <h6>Password:</h6>
      <p data-ng-show='!account.editing'>********</p>
      <input type='password' data-ng-show='account.editing' data-ng-model='new.account.password'>
      <div data-ng-show='account.editing || account.service'>
        <h6>Service:</h6>
        <p data-ng-show='!account.editing'>{{account.service}}</p>
        <input data-ng-show='account.editing' data-ng-model='new.account.service'>
      </div>
      <div data-ng-show='account.editing || !account.service'>
        <h6>SMTP Host:</h6>
        <p data-ng-show='!account.editing'>{{account.smtp.host}}</p>
        <input data-ng-show='account.editing' data-ng-model='new.account.smtp.host'>
        <h6>SMTP Port:</h6>
        <p data-ng-show='!account.editing'>{{account.smtp.port}}</p>
        <input data-ng-show='account.editing' data-ng-model='new.account.smtp.port' type='Number'>
        <h6>SMTP Secure:</h6>
        <p data-ng-show='!account.editing'>{{account.smtp.secure}}</p>
        <input data-ng-show='account.editing' data-ng-model='new.account.smtp.secure' type='checkbox'>
        <h6>IMAP Host:</h6>
        <p data-ng-show='!account.editing'>{{account.imap.host}}</p>
        <input data-ng-show='account.editing' data-ng-model='new.account.imap.host'>
        <h6>IMAP Port:</h6>
        <p data-ng-show='!account.editing'>{{account.imap.port}}</p>
        <input data-ng-show='account.editing' data-ng-model='new.account.imap.port' type='Number'>
        <h6>IMAP TLS:</h6>
        <p data-ng-show='!account.editing'>{{account.imap.tls}}</p>
        <input data-ng-show='account.editing' data-ng-model='new.account.imap.tls' type='checkbox'>
      </div>
      <button data-ng-show='account.editing' data-ng-click='editAccount(new.account)'>Save</button>
      <button data-ng-click='account.editing=!account.editing; new.account=account'>{{account.editing ? 'Cancel':'Edit'}}</button>
      <button data-ng-click='deleteAccount(account)'>Delete</button>
    </div>

    <p data-ng-show='!adding'>{{info.accounts ? 'Expand your Flybox, add another account':'You have no email accounts set up'}}</p>
    <div data-ng-show='adding'>
      <h4>Please enter your login information</h4>
      <h6>Username:</h6>
      <input data-ng-model='newAccount.email'>
      <br>
      <h6>Password:</h6>
      <input type='password' data-ng-model='newAccount.password'>
      <br>
      <h4>and fill in either</h4>
      <h6>Service:</h6>
      <a href='http://adilapapaya.com/docs/nodemailer/#wellknownservicesforsmtp'>list of acceptable services</a>
      <br>
      <input data-ng-model='newAccount.service'>
      <br>
      <h4>or</h4>
      <h5>SMTP</h5>
      <h6>Host:</h6>
      <input data-ng-model='newAccount.smtp.host'>
      <br>
      <h6>Port:</h6>
      <input type='Number' data-ng-model='newAccount.smtp.port'>
      <br>
      <h6>Secure:</h6>
      <input type='checkbox' data-ng-model='newAccount.smtp.secure'>
      <br>
      <h5>IMAP</h5>
      <h6>Host:</h6>
      <input data-ng-model='newAccount.imap.host'>
      <br>
      <h6>Port:</h6>
      <input type='Number' data-ng-model='newAccount.imap.port'>
      <br>
      <h6>TLS:</h6>
      <input type='checkbox' data-ng-model='newAccount.imap.tls'>
      <br>
    </div>

    <button data-ng-show='adding' data-ng-click='addAccount()'>Save</button>
    <button data-ng-click='adding=!adding'>{{adding ? 'Cancel':'Add'}}</button>
  </div>
</main>