<header>
  <a href='#/inbox'><h1>Flybox</h1></a>
  <p data-ng-model='username'>Hello {{username}}</p>
  <button data-ng-click='logOut()'>Log out</button>
</header>

<main>
  <div data-ng-model='user'>
    <h2>Flybox Account</h2>

    <h3>Login</h3>
    <p>Username: {{user.email}}<button>Change#####</button></p>
    <p>Password: ********<button>Change#####</button></p>

    <h3>Display Name</h3>
    <p data-ng-show='!editname'>{{user.displayName}}</p>
    <input data-ng-show='editname' data-ng-model='user.newName'/>
    <button data-ng-click='editname=!editname'>{{editname ? 'Save':'Change'}}</button>

    <h3>Email Accounts</h3>
    <div data-ng-repeat='smtp in user.smtps'>
      <h4>{{smtp.auth.user}}</h4>
      <h6>Username:</h6>
      <p data-ng-show='!smtp.editing'>{{smtp.auth.user}}</p>
      <input data-ng-show='smtp.editing' data-ng-model='smtp.auth.user'/>
      <br>
      <h6>Password:</h6>
      <p data-ng-show='!smtp.editing'>{{smtp.auth.pass}}</p>
      <input data-ng-show='smtp.editing' data-ng-model='smtp.auth.pass'>
      <br>
      <div data-ng-show='smtp.editing || smtp.service'>
        <h6>Service:</h6>
        <p data-ng-show='!smtp.editing'>{{smtp.service}}</p>
        <input data-ng-show='smtp.editing' data-ng-model='smtp.service'>
        <br>
      </div>
      <div data-ng-show='smtp.editing || !smtp.service'>
        <h6>Host:</h6>
        <p data-ng-show='!smtp.editing'>{{smtp.host}}</p>
        <input data-ng-show='smtp.editing' data-ng-model='smtp.host'>
        <br>
        <h6>Port:</h6>
        <p data-ng-show='!smtp.editing'>{{smtp.port}}</p>
        <input data-ng-show='smtp.editing' data-ng-model='smtp.port' type='Number'>
        <br>
        <h6>Secure:</h6>
        <p data-ng-show='!smtp.editing'>{{smtp.secureConnection}}</p>
        <input data-ng-show='smtp.editing' data-ng-model='smtp.secureConnection' type='checkbox'>
        <br>
      </div>
      <button data-ng-show='smtp.editing' data-ng-click='edit(smtp)'>Save</button>
      <button data-ng-click='smtp.editing=!smtp.editing'>{{smtp.editing ? 'Cancel':'Edit'}}</button>
      <button data-ng-click='delete(smtp)'>Delete</button>
    </div>

    <p data-ng-show='!adding'>{{user.smtps ? 'Expand your Flybox, add another account':'You have no email accounts set up'}}</p>
    <div data-ng-show='adding'>
      <p>Please enter your login information</p>
      <h6>Username:</h6>
      <input data-ng-model='newSmtp.auth.user'>
      <br>
      <h6>Password:</h6>
      <input data-ng-model='newSmtp.auth.pass'>
      <br>
      <p>and fill in either</p>
      <h6>Service:</h6>
      <a href='http://adilapapaya.com/docs/nodemailer/#wellknownservicesforsmtp'>list of acceptable services</a>
      <br>
      <input data-ng-model='newSmtp.service'>
      <br>
      <p>or</p>
      <h6>Host:</h6>
      <input data-ng-model='newSmtp.host'>
      <br>
      <h6>Secure:</h6>
      <input type='checkbox' data-ng-model='newSmtp.secureConnection'>
      <br>
      <h6>Port:</h6>
      <input type='Number' data-ng-model='newSmtp.port'>
      <br>
    </div>

    <button data-ng-show='adding' data-ng-click='add()'>Save</button>
    <button data-ng-click='adding=!adding'>{{adding ? 'Cancel':'Add'}}</button>
  </div>
</main>