<header>
  <a href='#/inbox'><h1>Flybox</h1></a>
  <p data-ng-model='username'>Hello {{username}}</p>
  <a href='#/account'>Account</a>
  <button data-ng-click='logOut()'>Log out</button>
</header>

<main>
  <h1 data-ng-model='box'>{{box.subject}}</h1>
  <p data-ng-model='box'>{{box.date | date}}</p>
  <p>Members:</p>
  <a data-ng-repeat='member in box.members'>{{member.email}} </a>
  <input data-ng-model='newMember.email'/>
  <button data-ng-click='addMember(newMember)'>Add Member</button>
  <button data-ng-click='leaveBox()'>Leave Box</button>
  <section class='well' ng-repeat='post in posts'>
    <p class='email'>{{post.by}}</p>
    <p class='date'>{{post.date | date}}</p>
    <p data-ng-show='!post.editing'>{{post.content}}</p>

    <div data-ng-show='username===post.by'>
      <textarea data-ng-show='post.editing' data-ng-model='post.newContent'>{{post.content}}</textarea>
      <button data-ng-click='edit(post)' data-ng-show='post.editing'>Save</button>
      <button data-ng-click='post.editing=!post.editing; post.newContent=post.content'>
        {{post.editing ? 'Cancel':'Edit'}}</button>

      <button data-ng-click='delete(post)'>Delete</button>
    </div>

  </section>
  <textarea data-ng-model='newPost.content' placeholder='Reply' data-ng-keyup='checkIfEnter($event.keyCode)'></textarea>
  <button data-ng-click='reply()' id='send'>Post</button>

</main>