<link rel="stylesheet" type="text/css" href="CSS/box.css">

<main id='single-box' data-ng-show='box'>
  <h1 data-ng-model='box'>{{box.subject}}</h1>
  <p id='date' data-ng-model='box'>{{box.date | date:'hh:mm'}} - {{box.date | date}}</p>
  <div id='members'>
    <p>Members:</p>
    <a id='member' data-ng-repeat='member in box.members'>{{member.email+': '+member.unread}} </a>
    <input data-ng-model='newMember.email'/>
    <button data-ng-click='addMember(newMember)'>Add Member</button>
    <button data-ng-click='leaveBox()'>Leave Box</button>
  </div>
  <section class='post' ng-repeat='post in posts'>
    <h4 class='email'>{{post.by}}</h4>
    <h4 class='date'>  {{post.date | date:'hh:mm'}} - {{post.date | date}}</h4>
    <br>
    <div data-ng-show='post.html' data-ng-bind-html='post.html'></div>
    <p data-ng-show='!post.editing && !post.html'>{{post.content}}</p>

    <div data-ng-show='current===post.by'>
      <textarea data-ng-show='post.editing' data-ng-model='post.newContent'>{{post.content}}</textarea>
      <button data-ng-click='edit(post)' data-ng-show='post.editing'>Save</button>
      <button data-ng-click='post.editing=!post.editing; post.newContent=post.content'>
        {{post.editing ? 'Cancel':'Edit'}}</button>
      <button data-ng-click='delete(post)'>Delete</button>
    </div>
  </section>
  <div text-angular placeholder='Reply' data-ng-keyup='checkIfEnter($event.keyCode)' data-ng-model='newPost.html'></div>
<!--
  <textarea data-ng-model='newPost.content' placeholder='Reply' data-ng-keyup='checkIfEnter($event.keyCode)'></textarea>
-->
  <button data-ng-click='reply()' id='send'>Post</button>
  <p id='sendemail'>Send as email? {{sendEmail ? 'Yes':'No'}}</p>
  <input id='sendemail' type='checkbox' data-ng-model='sendEmail'>
</main>