<header>
  <a href='#/inbox'><h1>flybox</h1></a>
  <h2>box</h2>
</header>

<main>
  <h1 data-ng-model='box'>{{box.subject}}</h1>
  <p data-ng-model='box'>{{box.date | date}}</p>
  <section ng-repeat='post in posts'>
    <p class='email'>{{post.by}}</p>
    <p class='date'>{{post.date | date}}</p>
    <p>{{post.content}}</p>
    <br>
  </section>
  <textarea data-ng-model='newPost.content' type='text' placeholder='Reply' id='commentBox' data-ng-keyup='checkIfEnter($event.keyCode)'></textarea>
  <button data-ng-click='reply()' id='send'>Post</button>

</main>