<header>
  <a href='#/inbox'><h1>Flybox</h1></a>
  <p data-ng-model='username'>Hello {{username}}</p>
  <a href='#/account'>Account</a>
  <button data-ng-click='logOut()'>Log out</button>
</header>

<main>
  <h2>Compose</h2>
  <h3>To:</h3>  
  <input type='text' data-ng-model='recipient.email' data-ng-keyup='checkIfSpace($event.keyCode)'/>
  <p data-ng-repeat='member in newBox.members'>{{member.email + (member.isUser ? ' :)':' :(')}}</p>
  <h3>Subject:</h3>
  <input type='text' data-ng-model='newBox.subject' />
  <h3>Body:</h3>
  <textarea type='text' data-ng-model='newBox.post'></textarea>
  <button data-ng-click='send()'>Send</button>
  <p>Send as email? {{newBox.sendEmail ? 'Yes':'No'}}</p>
  <input type='checkbox' data-ng-model='newBox.sendEmail'>
</main>