<header>
  <h1>Flybox</h1>
  <a href='#/compose'>Compose</a>
  <a href='#/landing'>About flybox</a>
  <p>Hello {{user.name}}</p>
  <a href='#/account'>Account</a>
  <button data-ng-click='logOut()'>Log out</button>
  <button data-ng-click='import()'>Import</button>
  <p>As: {{current}}</p>
  <ul><p>Switch to</p>
    <button data-ng-repeat='account in accounts' data-ng-click='switchTo(account)'>{{account.name}}</button>
  </ul>
</header>

<main>
  <section data-ng-repeat='box in boxes | orderBy:"date":true'>
    <div class='well' data-ng-click='goToBox(box.boxKey)'>
      <p>{{box.subject}}</p>
      <p>{{box.email}}</p>
      <p>{{box.date | date:'hh:mm'}} - {{box.date | date}}</p>
      <p>Unread: {{box.unread}}</p>
    </div>
  </section>
</main>
