<header>
  <h1>Flybox</h1>
  <a href='#/compose'>Compose</a>
  <a href='#/landing'>About flybox</a>
  <p data-ng-model='username'>Hello {{username}}</p>
  <a href='#/account'>Account</a>
  <button data-ng-click='logOut()'>Log out</button>
</header>

<main>
  <section data-ng-repeat='box in boxes | orderBy:"date":true'>
    <div class='well' data-ng-click='goToBox(box.boxKey)'>
      <p>{{box.subject}}</p>
      <p>{{box.email}}</p>
      <p>{{box.date | date:'hh:mm'}} - {{box.date | date}}</p>
    </div>
  </section>
</main>