<link rel="stylesheet" type="text/css" href="CSS/landing.css">

<main data-ng-cloak>
  <a href='#/login'><h1>fly[]</h1></a>
  <h3>fly[] is currently under development</h3>
  <h2>What is fly[]?</h2>
  <h4>"An attempt to catch email up with the rest of the messaging world."</h2>
  <p>Imagine being able to delete that email you just sent with an embarrassing typo. Or simply going back and attaching the file you forgot to attach.
    How about receiving just one notification instead of 5 for a single email thread. That is the power of Flybox. Flybox is an attempt to catch email up
    with the rest of the messaging world. What we did was create a messaging application with all the latest messaging functions which could seamlessly
    integrate with email as well as function within the well established networks of email.</p>
  <h2>Here's the thing...</h2>
  <h4>Email Sucks.</h4>
  <p>It's messy, impersonal, and quite primitive as far as tech's current standards. Afterall it's over 40 YEARS OLD. Since it came about in the 1970's
    email has been widely adopted to become the most used digital communication method. But times have changed and we need something better.</p>
  <h2>So we created fly[].</h2>
  <p>fly[] is email reinvented. We realized email was far too big to removed.</p>
  <p>- Everyone has one</p>
  <p>- Everyone knows everyone has one</p>
  <p>- Everyone knows how to use it</p>
  <p>It's the standard for digital communication.</p>
  <p>So rather than get rid of email completely. We created something to replace it. It looks like email. It feels like email. It almost is email!</p>
  <h2>What's different</h2>
  <h4>fly[] is not email</h4>
  <p>fly[] is instead a web application designed to seamlessly integrate with email. What that does is open up email to the power of the web.</p>
  <h2>Editing</h2>
  <h2>Deleting</h2>
  <h2>Live chat</h2>
  <h2>Live status updates</h2>
  <h2>Video Embedding</h2>
  <h2>Animation</h2>
  <h2>Analytics</h2>
  <h2>Web app compatibility</h2>
</main>