<link rel="stylesheet" type="text/css" href="CSS/login.css">
<article data-ng-cloak>
  <main id='login'>
    <section id='title'>
      <h1>fly[] in dev</h1>
      <a href='#/about'>About flybox</a>
      <p>Dev account - flyboxdev:pass</p>
    </section>

    <section id='buttons' data-ng-hide='signingUp || signingIn'>
      <button id='signin' data-ng-click='signingIn = true'>Log In</button>
      <p>or <a id='signup' href data-ng-click='signingUp = true'>sign up</a></p>
    </section>

    <section id='signUpForm' class='form' data-ng-show='signingUp'>
      <i>{{errors}}</i>
      <br>
      <form>
        <label>Email:</label>
        <input type='text' data-ng-model='newUser.email'>
        <br>
        <br>
        <label>Password:</label>
        <input type='password' data-ng-model='newUser.password'>
        <br>
        <br>
        <label>Password Confirmation:</label>
        <input type='password' data-ng-model='newUser.passwordConfirmation'>
        <br>
        <br>
        <button id='submit' class='submit' data-ng-click='signUp()'>Sign Up</button>
        <br>
      </form>
      <a id='signin' href data-ng-click='signingIn = true; signingUp = false; errors = null;'>or log In</a>
    </section>

    <section id='signInForm' class='form' data-ng-show='signingIn'>
      <i>{{errors}}</i>
      <br>
      <form>
        <label>Email:</label>
        <input type='text' data-ng-model='user.email'>
        <br>
        <br>
        <label>Password:</label>
        <input type='password' data-ng-model='user.password'>
        <br>
        <br>
        <button id='login' class='submit' data-ng-click='logIn()'>Log In</button>
        <br>
      </form>
      <a id='signin' href data-ng-click='signingUp = true; signingIn = false; errors = null;'>or sign up</a>
    </section>
  </main>
</article>