<link rel="stylesheet" type="text/css" href="CSS/spa.css">

<header data-ng-cloak data-ng-init='init(); main="inbox"; mode="box"'>
  <h1>fly[ ]</h1>
  <a data-ng-click='main="inbox";mode="box"'><button>Inbox</button></a>
  <a data-ng-click='sync()'><button>Sync</button></a>
  <a data-ng-click='main="inbox";mode="compose";$digest()'><button>Compose</button></a>
  <p>Hello {{user.email}}</p>
  <a data-ng-click='main="account"'><button>Account</button></a>
  <button data-ng-click='logOut()'>Log out</button>
  <p>As: {{current}}</p>
<!--  <ul data-ng-show='(accounts.length>1)'><p>Switch to</p>
    <button data-ng-repeat='account in accounts' data-ng-click='switchTo(account)'>{{account.name}}</button>
  </ul>-->
  <div class="btn-group" data-ng-show='(accounts.length>1)'>
    <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
      Switch To <span class="caret"></span>
    </button>
    <ul class="dropdown-menu" role="menu">
      <li data-ng-repeat='account in accounts' data-ng-click='switchTo(account)'>{{account.name}}</li>
      <li><a data-ng-click='main="account"'>Account Settings</a></li>
    </ul>
  </div>
</header>

<article data-ng-cloak>
  <div id='main'>
    <div id='account' data-ng-show='main=="account"'>
      <account-page></account-page>
    </div>

    <div id='multi' data-ng-show='main=="inbox"'>

      <div id='inbox-comp'>
        <inbox-section data-ng-click='mode="box"'></inbox-section>
      </div>

      <div id='side'>
        <div id='compose' data-ng-show='mode=="compose"'>
          <compose-box></compose-box>
        </div>

        <div id='box-comp' data-ng-show='mode=="box"'>
          <single-box></single-box>
        </div>
      </div>

    </div>
  </div>
</article>
