<header data-ng-init='init()'>
  <h1>Flybox</h1>
  <a data-ng-click='main=""'><button>Inbox</button></a>
  <a data-ng-click='main="";mode="compose"'><button>Compose</button></a>
  <p>Hello {{user.name}}</p>
  <a data-ng-click='main="account"'><button>Account</button></a>
  <button data-ng-click='logOut()'>Log out</button>
  <p>As: {{current}}</p>
  <ul data-ng-show='(accounts.length>1)'><p>Switch to</p>
    <button data-ng-repeat='account in accounts' data-ng-click='switchTo(account)'>{{account.name}}</button>
  </ul>
</header>

<data-ng-switch on='main'>
  <div ng-switch-default>
    <div style='float:left'>
      <inbox></inbox>
    </div>
    <div style='float:right'>
      <data-ng-switch on='mode'>
        <div ng-switch-default>
          <single-box></single-box>
        </div>

        <div ng-switch-when='compose'>
          <compose-box></compose-box>
        </div>
      </data-ng-switch>
    </div>
  </div>

  <div ng-switch-when='account'>
    <account-page></account-page>
  </div>
</data-ng-switch>
